<h4>
  <%= t('change_password') %>
</h4>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'edit_password' }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :password, as: :password, autocomplete: 'off' %>
    <%= f.input :password_confirmation, as: :password, autocomplete: 'off' %>
    <% if f.object.encrypted_password.present? %>
      <%= f.input :current_password, as: :password, autocomplete: 'off', placeholder: t('pass_tip') %>
    <% end %>
    <div class="text-center">
      <%= f.submit t('save_password'), class: 'btn btn-primary' %>
    </div>
  <% end %>

