<tr>
<td>
<div class="general-img-wrap-table">
<% if book.book_attachments.any? %>
  <% book.book_attachments.each do |photo| %>
  <%= image_tag photo.photo_url, class: "cart-img-shadow pull-left width-full" %>
<% end %>
  <% else %> 
<%= image_tag 'cover_default.png', class: "cart-img-shadow pull-left width-full" %>
<% end %>
</div>
</td>
<td>
<p class="general-title"><%= book.title %></p>
</td>
<td>
<span class="font-16 in-gold-500"><%= order_item.unit_price %></span>
</td>
<td>
<div class="input-group general-position">
<%= form_for order_item, remote: true do |f| %>
<a class="input-link" onclick="decrementValue()">
<i class="fa fa-minus line-height-40"></i>
</a>
<%= f.text_field :quantity, class: "form-control quantity-input", id: "quantity" %>
<a class="input-link" onclick="incrementValue()">
<i class="fa fa-plus line-height-40"></i>
</a>
<%= f.hidden_field :book_id, value: book.id %>
<%= f.submit "Update Quantity", class: "btn btn-primary" %>
<% end %>
</div>
</td>
<td>
<span class="font-16 in-gold-500"><%= order_item.total_price %></span>
</td>
<td>
<%= link_to order_item, method: :delete, remote: true, class: "close general-cart-close" do %><span aria-hidden="true">×</span><% end %>
</td>
</tr>





