<main class="container">
  <h1 class="general-title-margin">Checkout</h1>
  <ul class="steps list-inline">
    <li class="step active">
      <span class="step-number">1</span>
      <span class="step-text hidden-xs">Address</span>
    </li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">2</span>
      <span class="step-text hidden-xs">Delivery</span>
    </li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">3</span>
      <span class="step-text hidden-xs">Payment</span>
    </li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">4</span>
      <span class="step-text hidden-xs">Confirm</span>
    </li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">5</span>
      <span class="step-text hidden-xs">Complete</span>
    </li>
  </ul>

  <%= form_for @order, url: wizard_path, method: :put, html: { class: "res-mb-100" } do |f| %>
    <div class="hidden-xs hidden-sm">
      <div class="row">
        <div class="col-md-5">
          <h3 class="general-subtitle">Billing Address</h3>
          <p class="general-info-text">all fields are required</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h3 class="general-subtitle">Shipping Address</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mb-40">
        <div class="visible-xs visible-sm">
          <h3 class="general-subtitle">Billing Address</h3>
          <p class="general-info-text">all fields are required</p>
        </div>
<%= render partial: 'address_fields', locals: { f: f, type: :billing, order: @order, user: current_user } %>

      </div>
      <div class="col-md-5 col-md-offset-1 mb-60" id="shipping-address">
        <div class="visible-xs visible-sm">
          <h3 class="general-subtitle">Shipping Address</h3>
        </div>
          <div id="warranty" style="display: none;">
        <%= render partial: 'address_fields', locals: { f: f, type: :shipping, order: @order, user: current_user } %>
        </div>
          <% if :billing %>
    <%= f.fields_for :use_billing do |sb| %>
    <label class="font-weight-light pl-0">
      <%= sb.check_box :allow,{ id: 'enable', class: 'checkbox-input', hidden: true, checked: true} %>
        <span class="checkbox-icon">
    <i class="fa fa-check"></i>
  </span>
  <%= t('use_billing') %>
        </label>
    <% end %>

  <% end %>
        
        <script>
  
$('#enable').click(function(){
    $('#warranty').css('display', ($(this).is(':checked') ? 'none' : 'block'));
});

</script>
      </div>
    </div>
    <div class="general-text-align mb-60">
      <p class="in-gold-500 font-18">Order Summary</p>
      <table class="general-summary-table">
        <tr>
          <td>
            <p class="font-16">Item Total:</p>
          </td>
          <td>
            <p class="font-16">
              <%= number_to_currency current_order.subtotal %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="font-18">Order Total:</strong>
          </td>
          <td>
            <strong class="font-18">
              <%= number_to_currency current_order.subtotal %>
            </strong>
          </td>
        </tr>
      </table>
        <%= f.submit "Save and Continue", class: "btn btn-default center-block mb-20" %>
    </div>
  <% end %>
</main>

